@tailwind base;
@tailwind components;
@tailwind utilities;
@font-face {
  font-family: "BlackHanSans";
  src: url("../src/assets/fonts/BlackHanSans-Regular.ttf") format("truetype");
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  font-family: "BlackHanSans", sans-serif;
}
