@tailwind base;
@tailwind components;
@tailwind utilities;
@font-face {
  font-family: 'BlackHanSans';
  src: url('../src/assets/fonts/BlackHanSans-Regular.ttf') format('truetype');
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'BlackHanSans', sans-serif;
}
